<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp1.My.MySettings.ScaleSystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ScaleSystem.mdb;OLE DB Services=-1"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp1.My.MySettings.ConnectionStringSysproC"
            connectionString="Dsn=SysproCompanyC;uid=reports" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>